body {
    height: 90vh;
    width: 90vh;
}

#container {
    display: flex;
    background-color: cornflowerblue;
    flex-wrap: wrap;
    
}

#container > div {
    height: 100px;
    width: 100px;
}

* {
    border: 1px solid red;
}