body {
   
    background-color: floralwhite;
}

main {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#container {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: black;
    flex-wrap: wrap;
    outline: 1px solid grey;
    
}


h1 {
    font-family: "Tiny5", sans-serif;
    font-size: 80px;
    margin: 25px auto;
    
}

button {
margin-bottom: 50px;
}

header {
    margin-top: 5vh;
    margin-left: 5vh;
    margin-right: 5vh;
    display: flex;
    justify-content: space-between;
    
}

button {
    margin-top: 25px;;
}