body {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: floralwhite;
}

#container {
    display: flex;
    width: 600px;
    height: 600px;
    background-color: cornflowerblue;
    flex-wrap: wrap;
    outline: 1px solid grey;
    
}

h1 {
    font-family: "Tiny5", sans-serif;
    font-size: 80px;
    margin-bottom: 25px;
    margin-top: 100px;
    
}

button {
margin-bottom: 50px;
}

#controls {
    position: absolute;
    top: 5%;
    right: 5%;
}